@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap');
@media screen and (orientation: landscape) {
    .main-content{
        display: flex;
        height: 100vh;
    }
    .main-content-flex, .main-content-image{
        height: 100vh;
        flex: 0 1 50vw;
    }
}
/* media for desk */
@media screen and (min-width: 80.0rem) {
    .main-content-flex{
        flex: 0 1 40vw;
    }
}
html{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: initial;
}
body{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
}
section h1{
    position: relative;
    margin-top: 3rem;
    width: 100%;
}
section img{
    box-shadow: rgb(104, 3, 3) 0px 0px 30px;
    width: 15rem;
    height: 15rem;
    max-width: 100rem;
	height: auto;
    margin-left: 1rem;
    margin-right: 1rem; 
    border-radius: 0.2rem;
}
footer{
    margin-top: 2rem;
}
input:required {
    border: 1px dashed rgb(104, 3, 3);
    display: block;
}
.container {
    position: relative;
    display: block;
    width: 40rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #292929;
    color: #ffffff;
    border-radius: .2rem;
}
.container .form-element {
    position: fixed;
    margin: 0 auto;
    padding-bottom: 16px;
}
.btn {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: block;
    width: 42rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #292929;
    border-radius: 0.2rem;
    display: inline-block;
    background: rgb(104, 3, 3);
    border: 0.1rem solid rgb(104, 3, 3);
    color: #fff;
}
 
.btn:hover, .btn:focus {
    background: rgb(104, 3, 3);
    text-shadow: 0 -1px #fff;
}
 
.btn:active {
    background: #811f1f;
    text-shadow: 0 -1px #eee;
    width: 28rem;
    margin: 1rem auto;
    padding: 1rem;
}