@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap');
html{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
body{
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
}
header{
    margin-right: 8rem;
}
section h1{
    text-align: center;
    position: relative;
    margin-top: 3rem;
    width: 100%;
}
form{
    border:.1rem;
    border-color: #000000;   
    border-radius: 10px;
    background: rgb(0,0,0);
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
img{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
}
footer{
    margin-top: 2rem;
}
input:required {
    border: 1px dashed red;
    display: block;
}
.container {
    position: relative;
    display: block;
    width: 26rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #292929;
    color: #ffffff;
    border-radius: .2rem;
}
.container .form-element {
    position: fixed;
    margin: 0 auto;
    padding-bottom: 16px;
}
.btn {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: block;
    width: 28rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #292929;
    border-radius: 0.2rem;
    display: inline-block;
    background: #811f1f;
    border: 0.1rem solid #811f1f;
    color: #fff;
}
 
.btn:hover, .btn:focus {
    background: #811f1f;
    text-shadow: 0 -1px #fff;
}
 
.btn:active {
    background: #811f1f;
    text-shadow: 0 -1px #eee;
    width: 28rem;
    margin: 1rem auto;
    padding: 1rem;
}