@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap');
html{
    text-align: center;
    box-sizing: initial;
    font-family: 'Poppins', sans-serif;
    border: solid;
    border-color: rgb(0, 0, 0);
}
header{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative ;
}
body{
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
}
/* selection des elements dans main */
main{
    display: inline-block;
    
}
footer{
    margin-top: 1rem;
}
/* disposition des images */
img{
    max-width: 100%;
	height: auto;
    margin-left: 1rem;
    margin-right: 1rem; 
    border-radius: 0.2rem;
}
section p{
    border: solid;
    padding: 3rem;
    border-color: gray;
}
.btn {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 440px;
    margin: 20px;
    padding: 15px;
    background-color: #292929;
    border-radius: 4px;
    display: inline-block;
    background: #811f1f;
    border: 1px solid #811f1f;
    color: #fff;
}
 
.btn:hover, .btn:focus {
    background: #811f1f;
    text-shadow: 0 -1px #fff;
}
 
.btn:active {
    background: #811f1f;
    text-shadow: 0 -1px #eee;
    border: 1px solid #811f1f;
}